body{
    color: white;
    font-family: Maximum Impact;
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background: transparent;
    height: 5px;

}

::-webkit-scrollbar-thumb:horizontal{
    background-color: white;
    border-radius: 10px;
}   